<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <title> Songr | Albums</title>
    <link rel="stylesheet" type="text/css" href="/styles/albums.css">
</head>

<body>

<div th:replace="fragments/universal :: header"></div>

<h2>Albums</h2>

<article th:each="album : ${albums}">

    <h3 th:text="${album.title}">Album Title</h3>
    <img th:src="${album.img}" th:alt="${album.title}" />
    <h4 th:text="${album.artist}">Album Artist</h4>
    <p th:text="${album.length} + ' seconds long'"></p>
    <p th:text="'Contains ' + ${album.songCount} + ' songs'">Songs Count</p>
</article>


<form action="/albums" method="post">
    <label for="title">Album Title</label>
    <input id="title" type="text" name="title">
    <label for="img">Album Art</label>
    <input id="img" type="text" name="img">
    <label for="artist">Artist Name</label>
    <input id="artist" type="text" name="artist">
    <label for="length">Album Length</label>
    <input id="length" type="number" name="length">
    <label for="songCount">Number of Songs</label>
    <input id="songCount" type="number" name="songCount">
    <input type="submit" value="addNewAlbum">
</form>
</body>

<footer>
    <script src="/app.js"></script>
</footer>
</html>